.admin-dashboard {
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 80px;
  justify-content: center;
  align-self: center;
  width: 60%;
}

.dashboard-section {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  background-color: #ffffff;
}
.new-admin{
  width: 60%;
}
h1 {
  color: #343a40;
}

h2 {
  color: #495057;
}

.approve-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  width: 400px;
  margin: 20px;
}